<div class="content" role="main">
  <div class="container-no-color">
    <h2>GMU Student Survey - General</h2>
    <p>Respond for a chance to win a free movie ticket in our raffle!</p>
  </div>
  <div class="container">
    <form  [formGroup]="form" (ngSubmit)="submitSurvey()">
      <h2>Contact Information</h2>
      <div class="row">
        <div class="column-small">
          <label for="fname">First Name</label>
        </div>
        <div class="column-large">
          <input type="text" id="firstname" name="firstName" placeholder="First Name" formControlName="firstName">
        </div>
      </div>
      <div class="row last">
        <div class="column-small">
          <label for="lname">Last Name</label>
        </div>
        <div class="column-large">
          <input type="text" id="lastname" name="lastName" placeholder="Last Name" formControlName="lastName">
        </div>
      </div>
      <div class="row">
        <div class="column-small">
          <label for="lname">Street Address</label>
        </div>
        <div class="column-large">
          <input type="text" id="streetAddress" name="streetAddress" placeholder="Street Address" formControlName="street">
        </div>
      </div>
      <div class="row">
        <div class="column-small">
          <label for="lname">City</label>
        </div>
        <div class="column-large">
          <input type="text" id="city" name="city" placeholder="City" formControlName="city">
        </div>
      </div>
      <div class="row">
        <div class="column-small">
          <label for="lname">State</label>
        </div>
        <div class="column-large">
          <input type="text" id="state" name="state" placeholder="State" formControlName="state">
        </div>
      </div>
      <div class="row last">
        <div class="column-small">
          <label for="lname">Zip Code</label>
        </div>
        <div class="column-large">
          <input type="text" id="zip" name="zip" placeholder="Zip Code" formControlName="zip">
        </div>
      </div>
      <div class="row">
        <div class="column-small">
          <label for="lname">Telephone Number</label>
        </div>
        <div class="column-large">
          <input type="text" id="tel" name="tel" placeholder="Telephone" formControlName="tel">
        </div>
      </div>
      <div class="row">
        <div class="column-small">
          <label for="lname">Email</label>
        </div>
        <div class="column-large">
          <input type="text" id="email" name="email" placeholder="Email" formControlName="email">
        </div>
      </div>
      <div class="row last-large">
        <div class="column-small">
          <label for="lname">Date</label>
        </div>
        <div class="column-large">
          <input type="text" id="date" name="date" placeholder="mm/dd/yyyy" formControlName="date">
        </div>
      </div>

      <h2>Please answer the following questions</h2>

      <div class="row"> What do you like most about the campus?
        <div class="row last">
          <input type="checkbox" id="likeStudents" name="likeStudents" value="students" formControlName="likeStudents">
          <label for="like1">students</label><br>

          <input type="checkbox" id="like2" name="like2" value="location" formControlName="likeLocation">
          <label for="like2">location</label><br>

          <input type="checkbox" id="like3" name="like3" value="campus" formControlName="likeCampus">
          <label for="like3">campus</label><br>

          <input type="checkbox" id="likeAtmos" name="likeAtmos" value="like atmos" formControlName="likeAtmos">
          <label for="like4">atmosphere</label><br>

          <input type="checkbox" id="like5" name="like5" value="dorm rooms" formControlName="likeDorm">
          <label for="like5">dorm rooms</label><br>

          <input type="checkbox" id="like6" name="like6" value="sports" formControlName="likeSports">
          <label for="like6">sports</label><br>
        </div>
      </div>

      <div class="row"> How did you became interested in the university?</div>
        <div class="row last">
            <input type="radio" id="friend" name="howInterest" [value]=0 formControlName="howInterest">
            <label for="friend">friend</label><br>

            <input type="radio" id="television" name="howInterest" [value]=1 formControlName="howInterest">
            <label for="television">television</label><br>

            <input type="radio" id="internet" name="howInterest" [value]=2 formControlName="howInterest">
            <label for="internet">internet</label><br>

            <input type="radio" id="other" name="howInterest" [value]=3 formControlName="howInterest">
            <label for="other">other</label><br>
        </div>

      <div class="row">
        What is the likelihood of you recommending this school to other prospective students?
      </div>

      <div class="row last">
        <select formControlName="recommend" id="recommend">
          <option [ngValue]="null" disabled>Choose option</option>
          <option *ngFor="let r of Recommend" [ngValue]="r">{{r}}</option>
        </select>
      </div>

      <div class="row">
          <label for="subject">To join the raffle, enter at least ten comma separated numbers ranging from 1 through 100.</label>
      </div>
      <div class="row">
        <input type="text" id="raffle" name="raffle" placeholder="1, 2, 3, 4, 5, 20, etc." formControlName="raffle">
      </div>

      <div class="row">
          <label for="subject">Comments</label>
      </div>

      <div>
        <textarea id="comments" name="comments" placeholder="Comments" style="height:200px" formControlName="comments"></textarea>
      </div>

      <div class="row">
        <input type="submit" value="Cancel">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>

<div>
  <button (click)="getSurvey()">Get a survey</button>

  <button (click)="getSurveys()">View all recorded surveys</button>
</div>
